.header{
    width:100%;
    height: 80px;
    line-height: 80px;
}
.logo img{
    width: 30%;
}
.menu{
    margin-bottom: 0;
}
.nav_item a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
}
.nav_item a:hover{
    color: inherit;
}
.nav_item a.active_link{
    color:var(--secondary-color);
}
.mobile_menu{
    font-size:1.3rem;
    color:var(--heading-color);
    display: none;
}
.sticky_header{
    width:100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}
.notification_bell{
    color: var(--secondary-color);
    position: relative;
}
.notification_bell i{
    font-size: 1.3rem;
}
.notification_count {
    position: absolute;
    top: -5px;
    right: -8px;
  }
  
  .notification_count .count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
  }
  

/* responsive */
@media only screen and (max-width:992px){

}